.myDIV{
    margin-bottom: 200px;
}
.card{border: 2px solid !important;background-color: #E3F4F4

    !important;}
table{border: 2px solid !important;background-color: #E3F4F4

        !important;}
    